body {
  background-color: black;
  font-family: 'Creepster', cursive;
}

#game {
  width: 1000px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../dungeon.png");
  background-size: 100% 100%;
}

#win {
  width: 1000px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://i.redd.it/yyxhy2cvqlnz.png");
  z-index: 1;
  background-size: 100% 100%;
}

#replay {
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  background-color: black;
  font-family: 'Creepster', cursive;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 2;
  width: 200px;
  height: 50px;
  letter-spacing: 5px; 
}


.title {
  pointer-events: none;
  letter-spacing: 20px; 
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  color: white;
}

#win-title {
  position: absolute;
  letter-spacing: 10px; 
  top: 80%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  color: white;
}

#start {
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  background-color: black;;
  font-family: 'Creepster', cursive;
  border-radius: 10px;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  letter-spacing: 5px; 
}

.music-container {
  display: flex;
  justify-content: center;
}

.music-container h3 {
  color: white;
  letter-spacing: 10px; 
  pointer-events: none;
}

.music-container button {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
}

#music-button:hover {
  cursor: pointer;
}

#replay:hover {
  cursor: pointer;
  color: #69A7D9;
  transition: 1s;
}

#start:hover {
  cursor: pointer;
  color: #69A7D9;
  transition: 1s;
}

.social {
  width: 25px;
  height: 25px;
  padding: 0px 10px;
}

.github {
  filter: invert(1);
}

.github:hover {
  transform: scale(1.25);
  transition: 0.3s;
}

.linkedin:hover {
  transform: scale(1.25);
  transition: 0.3s;
}

.social-container{
  display: flex;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
}